node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.gitignore
.eslintignore
.eslintrc.js
LICENSE
.vscode
.github
assets
coverage
docs
test
logs
log
.codecov.yml
.eslint*
.prettier*
.(yarn|npm|nvm)rc
*.md
process.json
app.json
tsconfig.json

.travis.yml

#git but keep the git commit hash
.git
